# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Private Key, do not check in!
test/who-is-the-bread-867c631b8c29.json